# Ignore everything at root
*

# Track folders only
!scripts/
!scripts/**
!src/
!src/**
!settings/
!settings/**
!docs/
!docs/**
!plot/
!plot/**
data/**
!data/ncsl/**
data/ncsl/bills/**
data/ncsl/ner_runs/**

# Git config files (mandatory)
!.gitignore
!.gitattributes

!requirements.txt

# Always ignore
*.pyc
__pycache__/
.ipynb_checkpoints/
.venv/
.claude/
.DS_Store
Thumbs.db
~$*
