# Ignore everything at root
*

# Track folders only
!scripts/
!scripts/**
!src/
!src/**
!settings/
!settings/**
!docs/
!docs/**

# Git config files (mandatory)
!.gitignore
!.gitattributes

# Traditional project files
!requirements.txt

# Always ignore
*.pyc
__pycache__/
.ipynb_checkpoints/
.venv/
.claude/
.DS_Store
Thumbs.db
~$*
