#text-identifier .key {
    border-right: 1px solid #a0c3e3;
    width: 175px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
#text-identifier td.label {
   font-weight: bold;
}
#text-identifier td {
    background-color: #cfe1f1;
}
#text-identifier {
    background-color: #cfe1f1;
    border: 1px solid #a0c3e3;
    margin: auto;
    width: 650px;
    margin-bottom: 20px;
}
#text-identifier > tbody > tr > td {
    padding: 12px;
}
.documentBody {
    font-family: helvetica, sans-serif;
}
