.documentBody,
.regDocumentBody {
    font-family: "Courier New", courier, serif;
}

body.documentBody,
body.regDocumentBody
{margin:5px;}

div.regSectionContent {width:100%;}

/* body.regDocumentBody table, */
div.regSectionContent table
{margin:10px auto 10px auto;border-width:0 0 1px 1px;border-spacing:0;border-collapse:collapse;}

div.regSectionContent table, 
div.regSectionContent table tr td,
div.regSectionContent table tr th
{border-style:solid; border-color:#CCCCCC;}

div.regSectionContent table tr td,
div.regSectionContent table tr th 
{border-width:1px 1px 0 0;padding:2px;border-spacing:0;} 

div.textUtilAttachmentLinkContainer,
td.miniupfLinkContainer
{padding-top:5px;}

div.head,
div.analysis,
div.digest, 
div.text,
div.code,
div.fiscalNote,
div.publicHearing
{
    margin-top: 40px;
    border-top: 1px dotted #DDDDDD;
}

div.sectionContent {
/*    border-left:1px solid green; */
    /*margin-bottom: 2em;*/
    /*padding: 2em 1em 2em 4em; */
/*    margin-top: 2em;*/
    padding-left:2em;
}

span.enactClause {
    font-style: italic;
    font-weight: bold;
}

table.textId,
div.textId,
table.regTextId,
div.regTextId,
table.billTextId,
div.billTextId,
table.rdocTextId,
div.rdocTextId,
table.execOrderTextId,
div.execOrderTextId,
table.ballotMeasureTextId,
div.ballotMeasureTextId
{
    font-family: arial, sans-serif;
    font-weight:bold;
    /*margin:10px; 0 10px 0;*/
    background: #DDEEFF;
    color: #5555AA; /* Faded blue */
    border: 1px solid #0000AA; /* Dark blue */
    padding: 5px;
    width:100%;
    max-width:650px;
}

table.regTextId tr > td,
table.billTextId tr > td,
table.rdocTextId tr > td,
table.execOrderTextId tr > td,
table.ballotMeasureTextId tr > td
{padding:4px;color:#5555AA;}

ins.amendmentInsertedText,
u.amendmentInsertedText {
    color: #008800;
}

del.amendmentDeletedText,
strike.amendmentDeletedText {
    color: #990000;
}

span.vetoedText, 
span.vetoedText del.amendmentDeletedText,
span.vetoedText strike.amendmentDeletedText,
span.vetoedText u.amendmentInsertedText,
span.vetoedText ins.amendmentInsertedText
{color:red;}

p.indent { text-indent: 2em; }
p.center { text-align: center;}
p.right { text-align: right; }

span.footnoteReference { font-style:italic; }
span.footnote { font-style:italic; }

/* statcode linking */
span.newStatcode {border-bottom:1px dotted black;}
span.statcodeRange {border-bottom:1px dotted black;}
/* end statcode linking */

/* text version compare */
p.changeStartsHere, p.changeEndsHere {font-size:120%;font-weight:bold;background:#FFFFAA;text-align:center;padding:5px;margin:2px;border:1px dashed #DDDDDD;}
/* end text version compare */
